<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey Assignment</title>
</head>
<body>


    <h2>Welcome to Quoting Dojo</h2>

    <form action = "/add_quote", method="post">
        Your Name: <input type="text" name="name"><br>
        Your Quote: <input type = "text" name= "quote"><br>
        <input type="submit" value="Add my quote">

    </form>

    <form action = "/quotes", method="post">

        <input type="submit" value="Skip to quotes!">

    </form>




</body>
</html>
