
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey Assignment</title>
    <style>
           #container{
               width:1000px;
               height:970px;
               margin : 0px auto;

           }
            #linetwo{
                padding-left: 40px;
            }
    </style>
</head>
<body>



<div id="container">
    <h2>Here are awesome quotes:</h2>
    <% for (var x in quotes) { %>
        <h3 id="lineone"><%= quotes[x].quote %></h3>
        <h3 id="linetwo"> <%= quotes[x].name %> at <%= quotes[x].createdAt.toUTCString() %> </h3>
        <hr>
    <% } %>

</div>


</body>
</html>
