<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey Assignment</title>
</head>
<body>


        

    <form action = "/users", method="post">
        Your Name: <input type="text" name="name"><br>
        Your Age: <input type = "number" name= "age"><br>
        <input type="submit" value="submit">

    </form>




</body>
</html>
