<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey Assignment</title>
</head>
<body>


    <h2>Welcome to Mongoose Dashboard</h2>

    <form action = "/mongooses", method="post">
        <!-- Your Name: <input type="text" name="user_name"><br> -->
        Enter mongoose name: <input type = "text" name= "mongoose_name"><br>
        Fav mongoose info: <input type = "text" name= "mongs_info"><br>
        <input type="submit" value="Add  mongoose to DB">

    </form>

    <!-- <form action = "/quotes", method="post">

        <input type="submit" value="Skip to quotes!">

    </form> -->




</body>
</html>
