<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>your info</title>
</head>
<body>
    <form action="/index" method="post">
        name:<%=name%><br>
        location: <%=location%><br>
        language:<%=language%><br>
        comment:<%=comment%><br>

        <input type="submit" value="Go Back">
    </form>
</body>
</html>
