<body>
  <h1>This is a Views folder HTML page!</h1>
  <h3>Counter</h3>
  <h3><%=counter%></h3>
        <form action="\ninjas1" method="post">
              <button type="submit"  name="plustwo" value = 'two'>plustwo</button>
        </form>

         <form action="\ninjas2" method="post">
              <button type="submit"  name="resetone" value = 'one'>resetone</button>
        </form>
</body>
